<h1><%= t ".title" %></h1>

<%= link_to "New product", new_product_path if authenticated? %>
<%= link_to "Login", new_session_path unless authenticated? %>

<div id="products">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product %>
    </div>
    <!--      <a href="/products/<%#= product.id %>">-->
    <%#= product.name %>
    <!--      </a>-->
  <% end %>
</div>
<% if @products.empty? %>
  <p>No products available.</p>
<% else %>
  <p>Total products: <%= @products.count %></p>
<% end %>